.logo {
    width: 100px;
    height: 100px;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}