.task-item {
    border-radius: 4px;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

.task-item h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.task-item h3 {
    font-size: 20px;
    color: #0078d4;
    margin-bottom: 16px;
}

.band {
    border-left: 6px solid black;
    position: absolute;
    height: 100%;
}

.band.task {
    border-color: var(--task-item-color);
    /* Example color for task-item */
}

.band.user-story {
    border-color: var(--user-story-color);
    /* Example color for user-story */
}

/* Additional dynamic classes */
.band.bug {
    border-color: var(--bug-item-color);
    /* Example color for bug */
}

.task-actions {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 12px;
}

.task-actions button {
    color: #666666;
    border: 1px solid #666666;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-info-sect {
    padding: 12px;
}

.main-info-sect section {
    margin-bottom: 12px;
}

.task-title {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 8px;
}

.task-title-name {
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.task-title-name:hover {
    border-color: rgb(122, 122, 122);
    text-decoration: underline;
    cursor: pointer;
}

.task-description {
    border: 1px solid black;
    margin-bottom: 16px;
    width: max-content;
    width: 480px;
    padding: 12px 24px;
    font-size: .7em;
}

.task-description a {
    color: #0078d4;
    text-decoration: none;
}

.details-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 6px 12px;
}

.details-bar div {
    margin-bottom: 6px;
}

.assigned-to {
    display: flex;
    align-items: center;
}

.assigned-to img {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0 8px;
}

.assigned-to p {
    font-size: .8em;
    margin: 0;
}

.task-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    grid-template-rows: repeat(2, 1fr);
    /* 2 rows */
    gap: 8px;
    font-size: .9em;
    border-radius: 4px;
}

.task-details span {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: .8em;
}

.task-details p {
    flex: 1;
    font-size: .8em;
    background-color: rgb(223, 223, 223);
    padding: 2px 4px;
}

.quick-action-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    padding: 10px;
}

.task-links {
    margin-top: 16px;
}

.task-links a {
    color: #0078d4;
    text-decoration: none;
}

.task-links a:hover {
    text-decoration: underline;
}

.main-info-sect {
    display: flex;
}

.bay-1 {
    flex: 1;
    padding: 2px;
}

.bay-2 {
    flex: 2;
}

.task-type {
    display: flex;
    align-items: center;
    gap: 1px;
    font-size: .8em;
    margin-left: 6px;
    margin-top: 6px;
}

.task-type img {
    width: 16px;
    height: 16px;
}

.ticket {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: .8em;
}

.ticket h4 {
    margin-top: 0;
}

.ticket p {
    margin: 0;
    font-weight: 300;
}

.ticket button,
.attachmentsList button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: .8em;
}

.ticket button:hover,
.attachmentsList button:hover {
    background-color: #0056b3;
}

.attachmentsList {
    display: flex;
    align-items: center;

    font-size: .8em;
}

.attachment {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 10px;
    width: 100%;
}

.noAttachments {
    font-size: .8em;
    color: #777;
    margin: 0;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 6px;
}

.container {
    position: relative;
    margin-bottom: 10px;
}

.buttonContainer {
    gap: 10px;
    align-items: center;
    position: relative;
}

.error {
    position: absolute;
    top: -6px;
    left: 0;
    color: #ff0000;
    font-size: 0.6rem;
}

.button {
    padding: 8px 16px;
    /* Increased padding */
    
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: .6rem;
    /* Ensure consistent font size */
    flex: 1;
    /* Ensure buttons grow to fill the available space */
    text-align: center;
}



.info {
    background-color: #f0f0f0;
    padding: 12px;
    width: 150px;
    border-bottom: 1px solid #c8c8c8;
    text-align: left;
    font-weight: 600;
    color: #000000;
    position: absolute;
    bottom: 100%;
    right: 10%;
    font-size: 0.6em;
    z-index: 99999;
    opacity: 0.8;
}

.info-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: -8px;
    border-radius: 50%;
    color: #0e0e0e;
    border: 1px solid #0c0c0c94;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
}