.task-item {
    border-radius: 4px;
    padding: 16px;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

.task-item h2 {
    font-size: 16px;
    color: #333333;
    margin-bottom: 8px;
}

.task-item h3 {
    font-size: 20px;
    color: #0078d4;
    margin-bottom: 16px;
}

.task-title {
    display: flex;
    align-items: center;
    gap: 4px;
}

.task-title-name {
    font-size: 16px;
    color: #333333;
    margin: 0;
    padding: 2px 4px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.task-title-name:hover {
    border: 1px solid rgb(122, 122, 122);
}

.task-description {
    border: 1px solid black;
    margin-bottom: 16px;
    color: #333333;
    width: max-content;
    width: 480px;
    padding: 12px 24px;
    font-size: .7em;
}

.task-description a {
    color: #0078d4;
    text-decoration: none;
}

.details-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.assigned-to {
    display: flex;
    align-items: center;
}

.assigned-to img {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0 8px;
}

.assigned-to p {
    font-size: .8em;
    color: #333333;
    margin: 0;
}

.task-details {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.task-details p {
    font-size: .8em;
    color: #333333;
}

.task-links {
    margin-top: 16px;
}

.task-links a {
    color: #0078d4;
    text-decoration: none;
}

.task-links a:hover {
    text-decoration: underline;
}

.main-info-sect {
    display: flex;
}

.bay-1 {
    flex: 1;
    padding: 2px;
}

.bay-2 {
    flex: 2;
}

.task-type {
    display: flex;
    align-items: center;
    gap: 1px;
    font-size: .8em;
}

.task-type img {
    width: 16px;
    height: 16px;
}

.ticket {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ticket h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.ticket p {
    margin: 0;
}

.ticket button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ticket button:hover {
    background-color: #0056b3;
}

.main-info-sect section {
    margin-bottom: 12px;
}