.batch-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.batch-action-button {
  background-color: #444646;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 2px;
  cursor: pointer;
  font-size: .7em;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.batch-action-button:hover {
  background-color: #005A9E;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.batch-action-button:disabled {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: .7em;
}

.dropdown-content a {
  color: black;
  padding: 6px 12px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .batch-action-button {
  background-color: #005A9E;
}
